.dash-user{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width:100%;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}
.con-head{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: 600;
    text-shadow: 4px 4px 4px rgb(255, 106, 0);
    color:black;
    margin-bottom: 2rem;
    font-family:'Great Vibes', cursive;
}
.link{
    flex: 1 1 180px !important;
}